# Project exclude paths
/.gradle/
/Simple Banking System/task/build/
/Simple Banking System/task/out/production/classes/
/Topics/Command-line arguments/Basic calculator/out/
/Topics/Command-line arguments/Basic calculator/out/production/classes/
/Topics/Command-line arguments/Get the game mode/out/
/Topics/Command-line arguments/Get the game mode/out/production/classes/
/Topics/Command-line arguments/Parameters and their values/out/
/Topics/Command-line arguments/Parameters and their values/out/production/classes/
/Topics/Command-line arguments/The index of an argument/out/
/Topics/Command-line arguments/The index of an argument/out/production/classes/
/Topics/Command-line arguments/Theory/out/
/Topics/Command-line arguments/Theory/out/production/classes/
/Topics/Errors in programs/Fix compile-time errors/out/
/Topics/Errors in programs/Fix compile-time errors/out/production/classes/
/Topics/Errors in programs/Fix the program/out/
/Topics/Errors in programs/Fix the program/out/production/classes/
/Topics/Errors in programs/Print the age/out/
/Topics/Errors in programs/Print the age/out/production/classes/
/Topics/Errors in programs/Theory/out/
/Topics/Errors in programs/Theory/out/production/classes/
/Topics/Errors in programs/What's wrong/out/
/Topics/Errors in programs/What's wrong/out/production/classes/
/Topics/Exception handling/String to double conversion/out/
/Topics/Exception handling/String to double conversion/out/production/classes/
/Topics/Exception handling/Theory/out/
/Topics/Exception handling/Theory/out/production/classes/
/Topics/Files/Are siblings/out/
/Topics/Files/Are siblings/out/production/classes/
/Topics/Files/Theory/out/
/Topics/Files/Theory/out/production/classes/
/Topics/Getters and setters/Account/out/
/Topics/Getters and setters/Account/out/production/classes/
/Topics/Getters and setters/Book/out/
/Topics/Getters and setters/Book/out/production/classes/
/Topics/Getters and setters/Complex/out/
/Topics/Getters and setters/Complex/out/production/classes/
/Topics/Getters and setters/Getting the fullname/out/
/Topics/Getters and setters/Getting the fullname/out/production/classes/
/Topics/Getters and setters/Theory/out/
/Topics/Getters and setters/Theory/out/production/classes/
/Topics/Inheritance/Theory/out/
/Topics/Inheritance/Theory/out/production/classes/
/Topics/Multidimensional array/Reverse elements/out/
/Topics/Multidimensional array/Reverse elements/out/production/classes/
/Topics/Multidimensional array/Rotate a rectangle array/out/
/Topics/Multidimensional array/Rotate a rectangle array/out/production/classes/
/Topics/Multidimensional array/Theory/out/
/Topics/Multidimensional array/Theory/out/production/classes/
/Topics/Multiple constructors/Employee/out/
/Topics/Multiple constructors/Employee/out/production/classes/
/Topics/Multiple constructors/Movie/out/
/Topics/Multiple constructors/Movie/out/production/classes/
/Topics/Multiple constructors/Theory/out/
/Topics/Multiple constructors/Theory/out/production/classes/
/Topics/Multiple constructors/Time/out/
/Topics/Multiple constructors/Time/out/production/classes/
/Topics/Overloading/Overloading methods/out/
/Topics/Overloading/Overloading methods/out/production/classes/
/Topics/Overloading/Theory/out/
/Topics/Overloading/Theory/out/production/classes/
/Topics/Package/Binary search/out/
/Topics/Package/Binary search/out/production/classes/
/Topics/Package/Theory/out/
/Topics/Package/Theory/out/production/classes/
/Topics/Random/Generate random numbers/out/
/Topics/Random/Generate random numbers/out/production/classes/
/Topics/Random/Theory/out/
/Topics/Random/Theory/out/production/classes/
/Topics/The keyword super/Bank account/out/
/Topics/The keyword super/Bank account/out/production/classes/
/Topics/The keyword super/Theory/out/
/Topics/The keyword super/Theory/out/production/classes/
/Topics/What is an exception/Avoid division by zero/out/
/Topics/What is an exception/Avoid division by zero/out/production/classes/
/Topics/What is an exception/Theory/out/
/Topics/What is an exception/Theory/out/production/classes/